$border-avatar: rgb(155, 160, 163);
$overlay-avatar: rgb(122, 161, 178);
$spinner-avatar: rgb(122, 161, 178);
$pop-over-background: rgb(44, 48, 51);
$pop-over-shadow: rgb(102, 102, 102);
$title-color: rgb(249, 249, 249);

body {
  background-color: $title-color;
}
