@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:light&subset=latin,latin-ext");
body {
  background-color: #f9f9f9; }
  body img {
    height: 60px;
    width: 60px;
    cursor: pointer; }
    body img.circle-border {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%; }
  body .current-avatar {
    margin-left: 125px;
    height: 60px;
    width: 60px; }
    body .current-avatar:hover {
      box-shadow: 0 0 0 1px #9ba0a3;
      border-radius: 50%; }
    body .current-avatar .active {
      box-shadow: 0 0 0 1px #9ba0a3;
      border-radius: 50%; }
  body .wrapper {
    width: 280px; }
    body .wrapper.closed {
      opacity: 0; }
    body .wrapper.opening {
      animation: comeIn linear 0.4s;
      animation-iteration-count: infinte;
      transform-origin: center;
      animation-direction: normal; }
    body .wrapper.closing {
      animation: goOut linear 0.4s;
      animation-iteration-count: infinte;
      transform-origin: center;
      animation-direction: normal; }

@keyframes comeIn {
  0% {
    opacity: 0;
    transform: scaleX(0) scaleY(0); }
  62% {
    opacity: 0.5;
    transform: scaleX(0.95) scaleY(0.95); }
  83% {
    opacity: 1;
    transform: scaleX(1.2) scaleY(1.2); }
  100% {
    opacity: 1;
    transform: scaleX(1) scaleY(1); } }

@keyframes goOut {
  0% {
    opacity: 1;
    transform: scaleX(1) scaleY(1); }
  62% {
    opacity: 0.5;
    transform: scaleX(0.9) scaleY(0.9); }
  83% {
    opacity: 0.3;
    transform: scaleX(0.5) scaleY(0.5); }
  100% {
    opacity: 0;
    transform: scaleX(0) scaleY(0); } }
  body .popover:after {
    content: '';
    position: absolute;
    top: 70px;
    left: 153px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: solid 10px #2c3033;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent; }
  body .popover {
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    padding: 14px;
    height: auto;
    background-color: #2c3033;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 10px; }
    body .popover ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      body .popover ul li:not(:last-child) {
        margin-right: 14px;
        margin-bottom: 14px; }
    body .popover label {
      margin-left: 28%;
      margin-top: 14px;
      margin-bottom: 14px;
      color: #f9f9f9;
      font-family: 'Source Sans Pro', sans-serif;
      size: 16px;
      display: inline-block; }
    body .popover .image-wrapper {
      height: 60px;
      width: 60px;
      position: relative; }
      body .popover .image-wrapper img.avatar:hover {
        opacity: 0.8;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        box-shadow: 0 0 0 3px #9ba0a3;
        -webkit-box-shadow: 0 0 0 3px #9ba0a3;
        -moz-box-shadow: 0 0 0 3px #9ba0a3; }
      body .popover .image-wrapper img.avatar.active {
        box-shadow: 0 0 0 3px #7aa1b2;
        -webkit-box-shadow: 0 0 0 3px #7aa1b2;
        -moz-box-shadow: 0 0 0 3px #7aa1b2; }

@keyframes spinner {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: rotate(360deg);
    opacity: 0; } }
      body .popover .image-wrapper .spinner:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: -3px;
        left: -3px;
        width: 66px;
        height: 66px;
        border: 3px solid #7aa1b2;
        border-top-color: transparent;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 50%;
        opacity: 0;
        animation: spinner 1s linear infinite;
        animation-iteration-count: 1; }
      body .popover .image-wrapper .overlay {
        opacity: 0.8;
        background: #7aa1b2;
        height: 60px;
        width: 60px;
        position: absolute;
        top: 0;
        left: 0; }
