@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:light&subset=latin,latin-ext');

$border-avatar: rgb(155, 160, 163);
$overlay-avatar: rgb(122, 161, 178);
$blue-avatar: rgb(122, 161, 178);
$pop-over-background: rgb(44, 48, 51);
$pop-over-shadow: rgb(102, 102, 102);
$title-color: rgb(249, 249, 249);
$transparent: rgba(0,0,0,0);

$widthPopOver: 280px;
$widthHeightImage: 60px;

body {
  background-color: $title-color;

  img{
    height: $widthHeightImage;
    width: $widthHeightImage;
    cursor: pointer;
    
    &.circle-border{
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    } 
  }

  .current-avatar{
    margin-left: $widthPopOver / 2 - ($widthHeightImage / 4);
    height: $widthHeightImage;
    width: $widthHeightImage;
    &:hover{
      box-shadow: 0 0 0 1px $border-avatar;
      border-radius: 50%;
    }
    .active{
      box-shadow: 0 0 0 1px $border-avatar;
      border-radius: 50%;
    }
  }
 
  .wrapper{
    width: $widthPopOver;

    &.closed{
      opacity: 0;
    }

    &.opening{
      animation: comeIn linear 0.4s;
      animation-iteration-count: infinte;
      transform-origin: center;
      animation-direction: normal;
    }
    &.closing {
      animation: goOut linear 0.4s;
      animation-iteration-count: infinte;
      transform-origin: center;
      animation-direction: normal;
    }
    
    @keyframes comeIn{
      0% {
        opacity:0;
        transform:  scaleX(0.00) scaleY(0.00) ;
      }
      62% {
        opacity:0.5;
        transform:  scaleX(0.95) scaleY(0.95) ;
      }
      83% {
        opacity:1;
        transform:  scaleX(1.20) scaleY(1.20) ;
      }
      100% {
        opacity:1;
        transform:  scaleX(1.00) scaleY(1.00) ;
      }
    }

    @keyframes goOut{
      0% {
        opacity:1;
        transform:  scaleX(1.00) scaleY(1.00) ;
      }
      62% {
        opacity:0.5;
        transform:  scaleX(0.9) scaleY(0.9) ;
      }
      83% {
        opacity:0.3;
        transform:  scaleX(0.5) scaleY(0.5) ;
      }
      100% {
        opacity:0;
        transform:  scaleX(0.00) scaleY(0.00) ;
      }
    }
    
  }

  .popover:after{
      content:'';
      position: absolute;
      top: $widthHeightImage + 10px;
      left: $widthPopOver / 2 - ($widthHeightImage / 4) + 28px;
      right: 0;
      width: 0;
      height: 0;
      border-bottom: solid 10px $pop-over-background;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
  }

  .popover{
    width: $widthPopOver;
    white-space: nowrap;
    overflow: hidden;
    padding: 14px;
    height: auto;
    background-color: $pop-over-background;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 10px;

    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;

      li:not(:last-child){
        // set margin between images
        margin-right: 14px;
        margin-bottom: 14px;
      }
    }

    label{
      margin-left: 28%;
      margin-top: 14px;
      margin-bottom: 14px;
      color: $title-color;
      font-family: 'Source Sans Pro', sans-serif;
      size: 16px;
      display:inline-block;
    }
  

    .image-wrapper{
      height: $widthHeightImage;
      width: $widthHeightImage;
      position: relative;;
      
      img.avatar{

        &:hover{
          opacity: 0.8;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          box-shadow: 0 0 0 3px $border-avatar;
          -webkit-box-shadow: 0 0 0 3px $border-avatar;
          -moz-box-shadow: 0 0 0 3px $border-avatar;
        }
        &.active{
          box-shadow: 0 0 0 3px $blue-avatar;
          -webkit-box-shadow: 0 0 0 3px $blue-avatar;
          -moz-box-shadow: 0 0 0 3px $blue-avatar;
        }
        
      }

      @keyframes spinner {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: rotate(360deg);
          opacity: 0;
        }
      }
        
      .spinner:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top:  -3px;
        left: -3px;
        width: 66px;
        height: 66px;
        border: 3px solid $blue-avatar;
        border-top-color: rgba(0,0,0,0);
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 50%;
        opacity: 0;
        animation: spinner 1s linear infinite;
        animation-iteration-count: 1;
      }
    
      .overlay{
        opacity: 0.8;
        background: $overlay-avatar;
        height: $widthHeightImage;
        width: $widthHeightImage;
        position: absolute;
        top: 0;
        left: 0; 
      }
    }
  }
}
